name: Build

on:
  push:
    branches:
      - '**'

jobs:
  assembleWholeProject:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '11'
    - name: Assemble
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./gradlew build publishToMavenLocal -PciBuild=true
    - name: Test MPSBuild Gradle Plugin
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: build-tools-gradle-test/ci.sh
